<a href="/figures/<%= @figure.id %>"><%= @figure.name %></a>
<ul>
<h4> Landmarks: </h4>
<%@figure.landmarks.each do |landmark| %>
<li><%=landmark.name%></li>
<%end%>
</ul>
<ul>
<h4>Titles: </h4>
<%@figure.titles.each do |title| %>
<li><%=title.name%></li>
<%end%>
</ul>
